////////////////////////////////////////////////////////////////////////////////								//*GENERAL*//
////////////////////////////////////////////////////////////////////////////////
body {
margin: 0 auto;
display: flex;
		 justify-content: center;
		 background-image: url("img/shattered-island.gif");
}

#container {
display: flex;
		 justify-content: center;
		 flex-direction: column;
		 margin-top: 20px;
}

